.background{
    height: 80vh;
    background-image: url("https://res.cloudinary.com/dmfs6il6m/image/upload/v1761493561/electronic-store-hero-image_fjbwmm.jpg");
    background-position: center;
    background-size: auto;
}

